/* HERO */
.hero-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero-img {
    height: 60vh;
  }
}

/* SECTIONS */
.dark-section {
  background: black;
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  font-size: 42px;
  color: white;
  margin-bottom: 40px;
}

.section-title span {
  color: yellow;
}

/* GRID */
.card-grid,
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 0 20px;
}

/* CARDS */
.category-card,
.brand-card,
.product-card {
  margin: auto;
}

.product-card img {
  height: 300px;
  object-fit: cover;
}

.price {
  font-weight: bold;
  color: navy;
}
