#adminheader{
          background-color: #222;
          color : white;
          text-align : center;
          padding: 15px;
          font-size: 24px;
        }


#top-nav-bar{
  position: sticky;
  z-index: 1;
  top: 0;

}
#top-nav-bar1{
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  width: 100%;


}


#admin-login-btn{
padding: 20PX;
margin-left: 20px ;  
}
#add-to-cart{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#add-to-cart span {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  background-color: red;
  border-radius: 20px;
  position: 10px;
}

#watch-cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}


#adminleftmenu{
    width: 20%;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

}


#our-top-products{
  background-color: black;
  display: flex;
  flex-direction: column;
}

.logo{
  
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  margin-right: 8px;
}
