.top-navbar {
  padding: 10px 0;
}

/* LOGO */
.brand {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: yellow;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.brand-name {
  color: yellow;
  font-weight: bold;
  font-size: 20px;
}

/* LINKS */
.nav-links a {
  margin-right: 15px;
}

/* RIGHT SIDE */
.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* CART */
.cart-icon {
  position: relative;
  color: white;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav-actions {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
  }

  .nav-links a {
    margin: 5px 0;
  }
}
